<!-- TOP NAVBAR -->
<!-- ================================================== -->
<div class="col-sm-12" id="top-nav">
    <h2 id="brand">The Scrape</h2>
    <div id="nav-buttons-box">
        <button id="saved-articles-button" class="nav-buttons"><a href="/saved">View Saved Articles</a></button>
        <button class="nav-buttons"><a href="/scrape">Refresh Articles!</a></button>
    </div>
</div>

<!-- JUMBOTRON -->
<!-- ================================================= -->
<div id="scraper-jumbotron"></div>

<!-- ARTICLES SECTION -->
<!-- ================================================= -->
<div class="row">
    <div class="col-sm-6 article-boxes">
        <img class="article-images" src="#">
    </div>
    <div class="col-sm-6 article-boxes"></div>
</div>
<div class="row">
    <div class="col-sm-12" id="comment-section">
        <p class="comment-text">Leave a comment here!</p>
        <textarea class="col-sm-8"></textarea>
    </div>
</div>

<!-- FOOTER -->
<!-- ================================================ -->
<div class="row">
    <div class="col-sm-12" id="footer"></div>
</div>