<!-- TOP NAVBAR -->
<!-- ================================================== -->
<div class="col-sm-12" id="top-nav">
    <h2 id="brand">The Scrape</h2>
    <div id="nav-buttons-box">
        <button class="nav-buttons">View Saved Articles</button>
        <button class="nav-buttons">Refresh Articles!</button>
    </div>
</div>

<!-- JUMBOTRON -->
<!-- ================================================= -->
<div class="jumbotron" id="scraper-jumbotron"></div>