<!-- TOP NAVBAR -->
<!-- ================================================== -->
<div class="col-sm-12" id="top-nav">
    <h2 id="brand">The Scrape</h2>
    <div id="nav-buttons-box">
        <button class="nav-buttons"><a href="/">View New Articles</a></button>
        <button class="nav-buttons">Delete All Articles!</button>
    </div>
</div>

<!-- FOOTER -->
<!-- ================================================ -->
<div class="row">
    <div class="col-sm-12" id="footer"></div>
</div>