#top-nav {
  background: grey;
  height: 100px;
}

#brand {
  font-size: 80px;
}

#nav-buttons-box {
  position: absolute;
  top: 60px;
  right: 100px;
}

.nav-buttons {
  border-radius: 10px;
  margin-left: 50px;
}

#scraper-jumbotron {
  height: 250px;
  background-image: url("../img/newspaper.jpg");
}
